.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.donation-form .form-group label {
  display: block;
  margin-bottom: 5px;
}

.default-btn-1 {
  display: block;
  width: 50%;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  background-color: #ff6015;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn-home-donation{
  /* margin: 162px -62px; */
  background-color: #ff6015;
color: white;
padding: 10px;
border-radius: 180px;
}
.default-btn-1>a {
  color: #fff;
  text-decoration: none;
}

.default-btn-1:hover {
  background-color: #0056b3;
  transition: 1s ease-in-out;
}

.footer-quick-links>li>span {
  cursor: pointer;
}

.footer-quick-links>li>span {
  cursor: pointer;
}

.footer-num>a {
  font-weight: bolder;
  text-decoration: underline;
}